.header{
    height: 20%;
}
.title,.add{
    font-size: 4vh;
    line-height: 3;
}

.col{
    float: left;
    max-width: 50%;
}
.compet{
    height: 300px;
    overflow-y: scroll;
}

.container{
    height: 400px;
}
