
<div class="overflow-auto mt-5 container bg-light ">
    <h1 class="bg-light mt-2">Add Profil de Sortie</h1>
    <hr>
    <div class="center bg-light">
        <button class="btn btn-primary" [routerLink]="['/accueil/profilSortie']">Liste Profils de sortie</button>
    </div>
    <div class="list-users shadow bg-light mt-5">
        <form action="" class="px-5 mb-4 col-md-6">
            
            <div class="form-group">
                <label for="libelle">libelle</label>
                <input type="text" class="form-control" id="libelle" placeholder="Libelle">
            </div>
           
            <div class="mt-4 button-form">
                <button type="reset" class="btn btn-danger reset mb-4">reset</button>
                <button type="submit" class="btn btn-primary float-right submit mb-4">Enregistrer</button>
            </div>
            
        </form>
    </div>
</div>