<!-- <p>parametres works!</p>
<div class="col-md-6 tab-content">
            <div *ngIf="this.competence">
                <div class="fade tab-pane row show active" id="{{ libelle }}" *ngFor="let item of competence.niveaux; let i=index">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#{{item.id}}" class="nav-link active" data-toggle="tab">Niveau {{i+1}}</a>
                        </li>
                        
                    </ul>
                    <div class="tab-content">
                        <div class="fade tab-pane row show active" id="{{item.id}}">
                            <div class="col">
                                <h4 class="mt-2">Groupes d'actions à réaliser</h4>
                                <p> {{item.groupeAction }}</p>
                            </div>
                            <div class="col">
                                <h4 class="mt-2">Critere Evaluation</h4>
                                <p>{{item.critereEvaluation }}</p>
                            </div>
                        </div>
    
                        
                    </div>
                </div>
            </div>
            
        </div> -->