<div class=" m-auto mt-5 bg-light row">
	<div class="col-sm-6 mb-3">
		<h1>Profil List</h1>
		<hr>
		<div class="list-users shadow mt-5">

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">libelle</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let profil of profil | slice: (page-1) * pageSize : page * pageSize; index as i">
						<th scope="row">{{ profil.id }}</th>
						<td>{{ profil.libelle }}</td>
						<td>
							<a [routerLink]="['/accueil/profil', profil.id,'details']"
								class="btn btn-sm btn-outline-info mr-2">Details</a>
							<a [routerLink]="['/accueil/profil', profil.id, 'edit']"
								class="btn btn-sm btn-outline-warning">Edit</a>
							<button class="btn btn-sm btn-outline-danger ml-2" title="Disable"
								*ngIf="profil.isDeleted == false" (click)="deleteProfil(profil.id)">
								<i-bs name="toggle-off"></i-bs>
							</button>
							<button class="btn btn-sm btn-outline-success ml-2" title="Enable"
								*ngIf="profil.isDeleted == true" (click)="deleteProfil(profil.id)">
								<i-bs name="toggle-on"></i-bs>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-between p-2">
				<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="profil.length">
				</ngb-pagination>
			</div>
		</div>
	</div>
	<div class="col-sm-6 shadow">
		<h1 class="bg-light ">Add Profil</h1>
		<hr>

		<div class="list-users shadow bg-light mt-5">
			<form action="" class="px-5 mb-4 col-md-6" [formGroup]="addForm" (ngSubmit)="onSubmit()">

				<div class="form-group">
					<label for="libelle">libelle</label>
					<input type="text" class="form-control" [formControl]="addForm.controls['libelle']"
						[(ngModel)]="libelle" id="libelle" placeholder="Libelle">
				</div>

				<div class="mt-4 button-form">
					<button (click)="resetData()" type="reset" class="btn btn-danger reset mb-4">Annuler</button>
					<button type="submit" class="btn btn-primary float-right submit mb-4">{{btn}}</button>
				</div>

			</form>
		</div>
	</div>

</div>