<div class="overflow-auto mt-5 container bg-light ">
    <h1 class="bg-light">Edit User</h1>
    <hr>
    <div class="center bg-light">
        <button class="btn btn-primary" [routerLink]="['/accueil/users_list']">Liste users</button>
    </div>
    <div class="list-users shadow bg-light mt-5">
        <form [formGroup] = "editform" (ngSubmit) = "editUser()" class="px-5 mb-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="prenom">Prenom</label>
                    <input type="prenom" class="form-control" formControlName="firstname" [(ngModel)]="user.firstname" id="prenom" placeholder="Prenom">
                </div>
                <div class="form-group col-md-6">
                    <label for="nom">Nom</label>
                    <input type="text" formControlName="lastname" [(ngModel)]="user.lastname" class="form-control" id="nom" placeholder="Nom">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" [(ngModel)]="user.email" id="email" placeholder="email">
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" formControlName="avatar" [(ngModel)]="user.avatar" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile">Choisir un avatar</label>
            </div>
            <div class="mt-4 button-form">
                <button type="reset" class="btn btn-danger reset mb-4">reset</button>
                <button type="submit" class="btn btn-primary float-right submit mb-4">Update</button>
            </div>
            
        </form>
    </div>
</div>